
/******Cartoon*******/

#allplaces{
    justify-items: center;
    display: grid;
    gap: 20px;
}


#allplaces div {
  margin: 2rem 8px;
  border: 1px solid rgb(61, 13, 78);
  background-color: rgb(149, 144, 168);
  box-shadow: 0 12px 12px rgb(187, 203, 203);
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  display: grid;

  grid-template-areas:
  "name"
  "photograph"
  "description"
  "location"
  "cost";
}

#allplaces div h2{
  margin: 1rem 10px;
  grid-area: name;
}

#allplaces div figure img{
  width: 100%;
  max-width: 600px;
  grid-area: photograph;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

#allplaces div figure{
  grid-area: photograph;
  margin: 0 auto;
  text-align: center;

}

#allplaces div p{
  margin: 1rem 10px;
  grid-area: description;
}

#allplaces div address{
  margin: 1rem 10px;
  grid-area: location;
}

#allplaces div p:nth-of-type(1){
  margin: 1rem 10px;
  grid-area: cost;
}

/******VISIT MESSAGE*******/

.visit-message {
  text-align: center;
}

/*****LEARN MORE******/

.learn-more{
  background-color: rgb(225, 223, 232);
  color: rgb(61, 13, 78);
  cursor: pointer;
}

.learn-more:hover {
    background-color: rgb(187, 203, 203);
}

@media screen and (min-width: 641px){
  #allplaces div figure img{
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  #allplaces div figure img:hover {
    transform: scale(1.05);
    opacity: 0.85;
  }

  #allplaces div{
    height: 100%;
  }
}