@media screen and (min-width: 700px) {

  .hamburger {
    display: none;
  }

  #navigation {
    display: block;
    width: 100%;
  }

  .homePage {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .homePage a {
    padding: 10px 20px;
  }
  
  .m-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 700px) {

  .m-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  main {
    max-width: 1200px;
  }

  .courses {
        grid-template-columns: repeat(3, 1fr);
    }

  .navigation ul{
    display: flex;
    flex-direction: row;
  }

  .navigation a {
    border-bottom: none;
  }

.spotlights{
  max-width: 1000px;
  margin: 30px auto;
  text-align: center;
}

#spotlight-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 25px auto;
}

.spotlight-card{
  padding: 20px;
  text-align: center;
}
.spotlight-card img{
  width: 100%;
  max-width: 180px;
  height: 80px;
  display: block;
  margin: 0 auto 15px;
}
.event-topics {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.event-card {
  min-height: 200px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

}