
 main{
  width: 80%;
  margin: -10px auto 0;
  padding: 15px;
  border-left: 8px solid rgb(61, 13, 78);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(24, 2, 12, 0.15);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.home-button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: rgb(225, 223, 232);
  color: rgb(61, 13, 78);
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.thankYou h1{
  animation: thankYouBlink 2s ease-out;
}

@keyframes thankYouBlink {
  0% {
    opacity: 1;
    text-shadow: 0 0 0 transparent;
  }

  50% {
    opacity: 0.5;
    text-shadow: 0 0 15px rgb(149, 144, 168);
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 0 transparent;
  }
}