
.completed-label{
  font-weight: bold;
}
.hamburger{
  display: none;
}
/******************NAVIGATION**************/

#navigation {
  display: block;
  grid-column: 2;
  width: auto;
}
.homepage{
  display: flex;
  padding: 0;
  margin: 0;
  gap: 15px;
  border: none;
  background-color: rgb(225, 223, 232);
  flex-direction: row;
  width: 40px;
  height: 40px;
}

/************PHOTO**************/

.about-photo{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}
.bruna-photo img {
  width: 300px;
}
/*****************MEDIA**************/
@media screen and (min-width: 768px){

  .hamburger{
    display: none;
  }
  #navigation{
    display: block;
  }
}

/**************COURSES**************/

.courses{
  flex-direction: row;
  gap: 10px;
}
.courses button{
  width: auto;
}
