:root {
    --dark-purple: rgb(61, 13, 78);
   --dark-color: rgb(24, 2, 12);
   --gray-purple: rgb(149, 144, 168);
   --light-purple: rgb(225, 223, 232);
   --purple: rgb(99, 75, 102);
   --light-blue: rgb(187, 203, 203);
}
*{
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.completed-label{
  font-weight: bold;
}

/*****************HAMBURGER*****************/
.hamburger{
  display: none;
}

/******************NAVIGATION**************/

#navigation {
  display: block;
  grid-column: 4;
  width: auto;
}
.homepage{
  display: flex;
  padding: 0;
  margin: 0;
  gap: 15px;
  border: none;
  background-color: rgb(225, 223, 232);
  flex-direction: row;
  width: 40px;
  height: 40px;
}

.homePage a:hover{
  background-color: rgb(187, 203, 203);
  border-radius: 6px;
}

.homePage a{
  display: block;
  padding: 10px 15px;
  color: rgb(61, 13, 78);
}

/************PHOTO**************/
.about-photo{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}

/*****************MEDIA**************/
@media screen and (min-width: 768px){

  .hamburger{
    display: none;
  }
  #navigation{
    display: block;
  }
}