:root {
    --dark-purple: rgb(61, 13, 78);
   --dark-color: rgb(24, 2, 12);
   --gray-purple: rgb(149, 144, 168);
   --light-purple: rgb(225, 223, 232);
   --purple: rgb(99, 75, 102);
   --light-blue: rgb(187, 203, 203);
}

*{
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
body{
    margin: 0;
    color: rgb(24,2,12);
}
main{
    padding: 1rem 10px;
    margin: 0 auto;
    max-width: 900px;
}
h1,h2 {
    color: rgb(61, 13, 78);
    text-align: center;
}
/****************PHOTO********************/
.bruna-photo{
    text-align: center;
}
.bruna-photo img{
    max-width: 100%;
    height: auto;
}


/******************* HEADER **********************/
header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 6px 10px;
  border-bottom: 1px solid rgb(149, 144, 168);
  background-color: rgb(149, 144, 168);
  column-gap: 8px;
  align-items: center;
  position: relative;
}
.logo {
  display: grid;
  grid-template-columns: 30px auto;
  column-gap: 6px;
  align-items: center;

}
.logo img{
  width: 25px;
  height: 25px; 
  grid-row: 1/3;
}
.logo .title{
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(61, 13, 78);
}
.logo p {
  margin: 0;
}

/*************HAMBURGER*********/

.hamburger {
  width: 40px;
  height: 40px;
  justify-self: end;
  padding: 0;
}

.hamburger::before{
  content: "\2630";
  font-size: 1.5rem;
}
.hamburger.show:before{
  content: "\00D7";
  font-size: 1.8rem;
}

/************NAVIGATION**************/
#navigation{
  display: none;
  grid-column: 1 / 3;
}

#navigation.show {
  display: block;
}

.homePage{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

/*************** Footer *********************/
footer{
  background-color: rgb(149, 144, 168);
  padding: 1rem 10px;
}
footer p{
    text-align: center;
    margin: 0.5rem 0;
}
.media{
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.media a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: rgb(99, 75, 102) 3px;
  border-radius: 22px;
}
.media img{
  width: 22px;
  height: 22px;
}
.media a:hover{
  background-color: rgb(187, 203, 203);
}