main{
    padding: 1rem 10px;
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    gap: 20px;
}
h1{
    border-radius: 50%;
    color: rgb(61, 13, 78);
    border: 2px solid rgb(225, 223, 232); 
    padding: 10px;
    text-align: center;
}
h2 {
  color: rgb(61, 13, 78);
  text-align: center;
}

/******PHOTO*******/

.bruna-photo{
    text-align: center;
    background-color: rgb(225, 223, 232);
    border: 2px solid rgb(187, 203, 203);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bruna-photo img{
    height: auto;
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    border: 4px solid rgb(99, 75, 102);
    margin: auto;
}
.bruna-photo h2{
    color: rgb(61, 13, 78);
    text-align: center;
    margin: 0 0 15px 0;
}

/**************ABOUT ME*******************/

.about{
  grid-column: 1;
  background-color: rgb(225, 223, 232);
  border-radius: 8px;
  border: 2px solid rgb(187, 203, 203);
  padding: 20px;
}

.about h2{
  color: rgb(61, 13, 78);
  text-align: center;
  margin-top: 0;
}


/**************PROJECTS******************/
.lessons{
  background-color: rgb(225, 223, 232);
  border: 2px solid rgb(187, 203, 203);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}
.lessons h2{
  color: rgb(61, 13, 78);
  margin-top: 0;
}
.lessons p{
  color: rgb(24, 2, 12);
}
.courses {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.courses button{
  border-radius: 6px;
  padding: 10px 20px;
  background-color: rgb(225, 223, 232);
  border: 2px solid rgb(61, 13, 78);
}

.courses button:hover{
  background-color: rgb(187, 203, 203);
}

/******************* HEADER **********************/

header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 6px 10px;
  border-bottom: 2px solid rgb(61, 13, 78);
  background-color: rgb(149, 144, 168);
  column-gap: 8px;
  align-items: center;
  position: relative;
}
.logo {
  display: grid;
  grid-template-columns: 30px auto;
  column-gap: 6px;
  align-items: center;

}
.logo img {
  width: 25px;
  height: 25px; 
  grid-row: 1/3;
}
.logo .title{
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(61, 13, 78);
}
.logo p {
  margin: 0;
}

/*************HAMBURGER*********/

.hamburger {
  width: 40px;
  height: 40px;
  justify-self: end;
  padding: 0;
  background-color: rgb(225, 223, 232);
  border: 2px solid rgb(61, 13, 78);
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.hamburger::before {
  content: "\2630";
  font-size: 1.5rem;
  color: rgb(61, 13, 78);
}
.hamburger.show::before {
  content: "\00D7";
  font-size: 1.8rem;
  color: rgb(61, 13, 78);
}

/************NAVIGATION**************/

#navigation{
  display: none;
  grid-column: 1 / 3;
  width: 100%;
}

#navigation.show {
  display: block;
}

.homePage{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px 15px;
  margin: 20px 2px 2px;
  border-radius: 8px;
  background-color: rgb(225, 223, 232);
  border: 2px solid rgb(99, 75, 102);
}

.homePage a{
  display: block;
  color: rgb(61, 13, 78);
  font-weight: bold;
  padding: 10px;
}

.homePage a:hover {
  background-color: rgb(187, 203, 203);
}

/*************** Footer *********************/

footer{
  background-color: rgb(149, 144, 168);
  padding: 1rem 10px;
}
footer p{
    text-align: center;
    margin: 0.5rem 0;
}
.media{
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.media a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: rgb(99, 75, 102) 3px;
  border-radius: 22px;
}
.media img{
  width: 22px;
  height: 22px;
}
.media a:hover{
  background-color: rgb(187, 203, 203);
}

/*************MEDIA***********/

@media screen and (min-width: 767px){
    main {
        display: block;
        padding: 1rem 10px;
    }

    main section{
        margin-bottom: 20px;
        min-height: auto;
    }

    .bruna-photo img{
        width: 300px;
        height: auto;
    }

    .courses{
        flex-direction: column;
        gap: 10px;
    }

    .courses button{
        width: 100%;
    }
}